<div id="<%= dom_id contract %>">
  <p>
    <strong>Insurance product:</strong>
    <%= contract.insurance_product_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= contract.cooperative_id %>
  </p>

</div>
