<div class="container min-vh-100 d-flex align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-lg-10">
      <div class="card shadow border-0 p-4">

        <div class="text-center mb-4">
          <h1 class="fw-bold text-primary">CIS Life</h1>
          <div class="mx-auto mt-2" style="width: 80px; height: 4px; background:#F9CB25;"></div>
        </div>

        <div class="row g-5">
          <!-- LOGIN -->
          <div class="col-md-6">
            <h4 class="mb-3">Login</h4>
                  <%= render 'devise/sessions/form', resource: User.new %>
          </div>

          <!-- REGISTRATION -->
          <div class="col-md-6 border-start">
            <h4 class="mb-3 text-secondary">Register</h4>
            <%= render 'devise/registrations/form', resource: User.new %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
