<div id="<%= dom_id relationship %>">
  <p>
    <strong>Relationship:</strong>
    <%= relationship.relationship %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= relationship.contract_id %>
  </p>

</div>
