<h1>Editing peril</h1>

<%= render "form", agreement_peril: @agreement_peril %>

<br>

<div>
  <%= link_to "Show this peril", @agreement_peril %> |
  <%= link_to "Back to perils", agreement_perils_path %>
</div>
