<div id="<%= dom_id insurance_product %>">
  <p>
    <strong>Name:</strong>
    <%= insurance_product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= insurance_product.description %>
  </p>

  <p>
    <strong>Product type:</strong>
    <%= insurance_product.product_type %>
  </p>

</div>
