<h1>Editing insurance product</h1>

<%= render "form", insurance_product: @insurance_product %>

<br>

<div>
  <%= link_to "Show this insurance product", @insurance_product %> |
  <%= link_to "Back to insurance products", insurance_products_path %>
</div>
