<h1>Editing insurance contract</h1>

<%= render "form", insurance_contract: @insurance_contract %>

<br>

<div>
  <%= link_to "Show this insurance contract", @insurance_contract %> |
  <%= link_to "Back to insurance contracts", insurance_contracts_path %>
</div>
