<div id="<%= dom_id branch_office %>">
  <p>
    <strong>Name:</strong>
    <%= branch_office.name %>
  </p>

  <p>
    <strong>Territory:</strong>
    <%= branch_office.territory_id %>
  </p>

</div>
