<div id="<%= dom_id producer %>">
  <p>
    <strong>First name:</strong>
    <%= producer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= producer.last_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= producer.title %>
  </p>

</div>
