<div id="<%= dom_id insurance_group %>">
  <p>
    <strong>Insurance contract:</strong>
    <%= insurance_group.insurance_contract_id %>
  </p>

  <p>
    <strong>Cooperative:</strong>
    <%= insurance_group.cooperative_id %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= insurance_group.contract_id %>
  </p>

</div>
