<h1>Editing add region</h1>

<%= render "form", add_region: @add_region %>

<br>

<div>
  <%= link_to "Show this add region", @add_region %> |
  <%= link_to "Back to add regions", add_regions_path %>
</div>
