<div id="<%= dom_id coop_membership %>">
  <p>
    <strong>Cooperative:</strong>
    <%= coop_membership.cooperative_id %>
  </p>

  <p>
    <strong>Individual:</strong>
    <%= coop_membership.individual_id %>
  </p>

  <p>
    <strong>Membership date:</strong>
    <%= coop_membership.membership_date %>
  </p>

</div>
