<h1>Editing eligibility</h1>

<%= render "form", agreement_eligibility: @agreement_eligibility %>

<br>

<div>
  <%= link_to "Show this eligibility", @agreement_eligibility %> |
  <%= link_to "Back to eligibilities", agreement_eligibilities_path %>
</div>
