<div id="<%= dom_id add_municipal %>">
  <p>
    <strong>Name:</strong>
    <%= add_municipal.name %>
  </p>

  <p>
    <strong>Add province:</strong>
    <%= add_municipal.add_province_id %>
  </p>

</div>
