<div id="<%= dom_id add_province %>">
  <p>
    <strong>Name:</strong>
    <%= add_province.name %>
  </p>

  <p>
    <strong>Add region:</strong>
    <%= add_province.add_region_id %>
  </p>

</div>
