<div id="<%= dom_id add_barangay %>">
  <p>
    <strong>Name:</strong>
    <%= add_barangay.name %>
  </p>

  <p>
    <strong>Add municipal:</strong>
    <%= add_barangay.add_municipal_id %>
  </p>

</div>
